<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/application.js"></script>
<script src="js/flipclock.min.js"></script>
</head>
<%="Welcome to Your Evil Lair"%>
<br>
<div class="your-clock"></div>
<%="Your Bomb is: "%>
<span id="status" style="color:red"><%= "Inactive"%></span>

<%=erb :_form%>